<div id="bitbytesRow" class="mt-3">
    <div class="input-group mb-3">
        <span class="input-group-text">Bits: </span>
        <input type="number" id="bits" placeholder="0" value="4" class="form-control">
        <span class="input-group-text">Bytes: </span>
        <input type="number" id="bytes" placeholder="0" value="0" class="form-control">
    </div>
</div>

<div id="binaryRow" class="mb-3">
    <div id="binaryInputs" class="input-group col-8">
        <span class="input-group-text" id="binaryText">Binary: </span>
    </div>
    <div class="input-group">
        <button type="button" id="rl" class="btn btn-secondary w-50">Right -> Left</button>
        <button type="button" id="lr" class="btn btn-outline-secondary w-50">Left -> Right</button>
    </div>
</div>

<div id="decimalRow">
    <div class="input-group mb-3">
        <span class="input-group-text">Decimal: </span>
        <button type="button" id="minus" class="btn btn-outline-secondary">-</button>
        <input type="number" id="decimal" placeholder="0" value="0" class="form-control">
        <button type="button" id="plus" class="btn btn-outline-secondary">+</button>
    </div>
</div>

<div id="maxRow">
    <div class="input-group">
        <span class="input-group-text" id="maxText">Maximum Decimal Value: </span>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">1</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">3</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">7</button>
        <button type="button" name="maxValue" class="btn btn-secondary">15</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">31</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">63</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">127</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">255</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">511</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">1023</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">2047</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">4095</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">8191</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">16383</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">32767</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">65535</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">131071</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">262143</button>
        <button type="button" name="maxValue" class="btn btn-outline-secondary">524287</button>
    </div>
</div>