<div id="bitbytesRow">
    <label>
        Bits:
        <input type="number" id="bits" placeholder="0" value="4">
    </label>
    <label>
        Bytes:
        <input type="number" id="bytes" placeholder="0" value="0">
    </label>
</div>

<div id="binaryRow">
    <label>
        Binary:
        <div id="binaryInputs">

        </div>
    </label>
    <label>
        Direction:
        <input type="radio" id="rl" name="direction" value="rl" checked>
        <label for="rl">Right -> Left</label>
        <input type="radio" id="lr" name="direction" value="lr">
        <label for="lr">Left -> Right</label>
    </label>
</div>

<div id="decimalRow">
    <label>
        Decimal:
        <button type="button" id="minus">-</button>
        <input type="number" id="decimal" placeholder="0" value="0">
        <button type="button" id="plus">+</button>
    </label>
</div>